@charset "utf-8";
body{margin:0; padding:0;}
a{text-decoration:none; cursor:pointer;}
h1,h2,h3,h4,h5,h6{margin:0px;}
/*代码部分*/
header,footer,main{width:1200px; margin:10px auto;}
header{font-size:30px;font-weight:blod; font-style:italic;}
main>article{}
pre{background:#cccccc; border:1px solid #e7e7e7; font-weight:600; text-align:left; padding-top:10px; border-radius:5px; font-size:16px;}
.in2em{text-indent:2em;}
ul.square>li{list-style:inside square;}/* square:实心方，decimal/decimal-leading-zero:十进制数字(1/01) ,asterisks/footnotes:*号 ,circle/disc:空心圆/实心圆(默认)  */
ul.decimal>li{list-style:inside decimal;}
ul.no>li{list-style: none;}
ul.upper>li{list-style: inside upper-latin;}/*A,B,C*/
.tip{color:red; font-weight:600; font-style:italic;}
p>a{color:blue;}
p>a:hover{color:red;}
.example{color:blue;font-style:italic;}/*italic:斜体*/
div.test{ background:rgba(255,235,235,.8); padding:5px 10px; margin-bottom:2px;}
.btn {display:inline-block; padding:5px 8px; border:1px solid #e7e7e7; border-radius:5px; color:#ccc; margin:0 5px; box-shadow:2px 2px 2px #e7e7e7; cursor:pointer; text-indent:0em; text-align:center;}/*text-indent:防止继承父级节点的首行缩进*/
.btn:hover{color:#333; border:1px solid #ccc; box-shadow:2px 2px 2px #ccc;}
.btn-wa{background:orange; border:1px solid orange; color:#fff;}/*firefox:orange:#FFA500*/
.btn-wa:hover{color:#fff; background:#FF8C00; border:1px solid orange; box-shadow:2px 2px 2px orange;}
.btn-tip{position:relative;}
.btn-tip>em{ position: absolute; top: -15px; z-index: 100; right: -15px; display: block;width: auto; border-radius: 2px; background:inherit;}
/*颜色*/
.red{color:red;}
/*边框border*/
.brd{border:1px solid red;}