@charset=utf-8;
footer{margin-bottom: 10px;}
main p{text-indent: 2em; font-size:1.5rem;}
main p sup,main p sub,main p span,main p em{text-indent: 0;}
.in2em{text-indent: 2em;}
.red{color:red;}
.blue{color: blue;}
.yellow{color: yellow;}
.green{color:green;}
.orange{color: orange;}
table.table thead tr,table.table thead th{background-color: #999; color:#fff; border:1px solid #999;}
.row{margin-bottom: 10px;}
pre.pre-scrollable{font-size:1.5rem;}
.back_to_top{position: fixed; display: none; border: 1px solid #f89406; border-radius: 5px; background-color: rgba(248,148,6,.5); right:10px; width:55px; height: 50px; bottom: 100px; z-index: 1000; text-align: center; vertical-align: middle;}
.back_to_top a{ padding: 5px 0px; font-size: 1.8em; display: block; cursor: pointer; text-align:center; color:#fff; text-decoration:none; height: 100%;  -moz-transition:color 1s;  -webkit-transition:color 1s;  -o-transition:color 1s;  }
.max-height-3{max-height: 240px; margin-bottom: 10px;}
.max-height-3 a.thumbnail{overflow: hidden; height: 94px;}
.max-height-3 a.thumbnail img{height: 85px;}
.table-color td:nth-child(2){color:green;}
.table-color tr:nth-child(even) td:nth-child(2){color:#000;}
.table-color td:nth-child(2) strong{color: red;}
.table-color td:nth-child(2) em{color: orange;}
.table-color td:nth-child(2) em:after,.table-color td:nth-child(2) em:before{ content:" "; display: inline-block; width: 5px;}
.custom_style_ul{ list-style: inside; }
.custom_style_ul li{border-radius: 5px; padding: 5px 5px; margin-bottom: 5px; border: 1px solid #fff;}
.custom_style_ul li:nth-child(even),.custom_style_ul li:nth-child(odd):hover{background-color: #ccc; border: 1px solid #ccc;}
.custom_style_ul li:nth-child(even):hover{background-color: #fff; border: 1px solid #ccc;}
.custom_style_nav{height: 4.2rem;overflow: hidden;}
/*当前版本bootstrap.css缺少的样式，现补充如下*/
.badge-info{background-color: #3a87ad;}
.badge-warning{background-color: #f89406;}
.badge-success{background-color: #468847;}
.badge-important{background-color: #b94a48;}
.badge-inverse{background-color: #333;}
/*自定义*/
.w980{width: 980px;}
.w1024{width: 1024px;}